body {
    background-color: black;
    color: white;
    width: 50rem;
    margin: 0 auto;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

div.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40rem;
    margin-left: auto;    
    margin-right: auto;
    margin-top: 4%;
    background-color: black;
}

div.flip-card {
    position: relative;
    width: 40rem;
    aspect-ratio: 25/9;
    perspective: 3200px;
    
}

div.flip-card h1 {
    padding: 1rem;
}

div.flip-card-front, div.flip-card-back {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    font-size: 40px;
    box-shadow: 4px 12px 40px 6px rgba(0, 0, 0, 0.25);
    transition: transform 1.1s cubic-bezier(0.4, 0.2, 0.2, 1);
    backface-visibility: hidden;
}

.flip-card-front{
    transform: rotateX(0deg);
    background-color: yellowgreen;
    color: black
}

.flip-card-back{
    transform: rotateX(-180deg);
    background-color: lightseagreen;
    color: white;
}

.flip-card:hover .flip-card-front {
  transform: rotateX(180deg);
}

.flip-card:hover .flip-card-back {
  transform: rotateX(0deg);
}

h1 {
    font-family: 'Bitcount Prop Double Ink', cursive;
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
}

h2 {
    font-family: 'Bitcount Prop Double Ink', cursive;
    font-size: 1.5rem;
    text-align: left;
    margin: 0;
}

/* https://css-tricks.com/almanac/functions/s/scroll/ */
.scroll-watcher {
  position: fixed;
  top: 0;
  left: 0;
  height: 1rem;
  width: 0;
  z-index: 9999;
  background-color: lime;
  animation: scroll-watcher linear;
  animation-timeline: scroll();
  animation-duration: auto;
}

@keyframes scroll-watcher {
  to {
    width: 100%;
    background-color: cyan;
  }
}

@supports (animation-timeline: scroll()) {
  .scroll-watcher {
    animation-timeline: scroll();
    animation-duration: auto;
  }
}

/* https://css-tricks.com/almanac/functions/s/sibling-index/ */
.circle {
  position: relative;
  width: 300px;
  height: 300px;
}

.dot {
  --angle: calc(sibling-index() * 9deg); /* 360deg / 40 dots */
  --radius: 120px;

  position: absolute;
  width: 10px;
  height: 10px;
  background: hsl(calc(sibling-index() * 9), 100%, 60%);
  border-radius: 50%;
  top: calc(50% + sin(var(--angle)) * var(--radius));
  left: calc(50% + cos(var(--angle)) * var(--radius));
  transform: translate(-50%, -50%);
}